<div class="page-header">
  <h1>MyWallet</h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your balances are:</h3>
      </div>
      <div class="panel-body">
        {{#each addressesAndBalances as |addressAndBalance|}}
          {{addressAndBalance.address}}: {{addressAndBalance.balance}}<br />
        {{/each}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Addresses</h3>
      </div>

      <div class="panel-body">
        <ul>
          {{#each addresses as |address|}}
            <li>{{address}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
