<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/mywallet">Customer consent wallet</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{{#if session.isAuthenticated}}
					{{#active-link}}{{#link-to 'mywallet'}}Wallet{{/link-to}}{{/active-link}}
					{{#active-link}}{{#link-to 'log'}}Transaction log{{/link-to}}{{/active-link}}
					{{#active-link}}{{#link-to 'whisper'}}Whisper{{/link-to}}{{/active-link}}
					{{#active-link}}{{#link-to 'identityrequests'}}Identity requests{{/link-to}}{{/active-link}}
	    		<li><a {{ action 'invalidateSession' }}>Logout</a></li>
	  		{{/if}}
			</ul>
    </div>
  </div>
</nav>

<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    {{outlet}}
  </div>
</div>
